<config>
  <apiEndpoint>https://serviciostrygnoss.gnoss.com/api</apiEndpoint>
  <communityShortName>demo-gnoss-akademia-20-39</communityShortName>
  <ontologyName>peliculahectors</ontologyName>
  <developerEmail>alur20_39@ur.com</developerEmail>
  <token>
    <tokenKey>PXfokJDk3Eh7i88pfwbTRYhZtLjLP+Gl</tokenKey>
    <tokenSecret>6XfokJDk3EjCKPrzFKcXTL3sHX6/iwhS</tokenSecret>
  </token>
  <consumer>
    <consumerKey>6rnlkJDk3EiyHWQQHbx9RrmGu5GCekx0</consumerKey>
    <consumerSecret>xLzlkJDk3EjryrvXKJ6LRYkaC9Blu+T8</consumerSecret>
  </consumer>
  <log>
    <logPath>/log</logPath>
    <logFileName>trace.log</logFileName>
    <logLevel>DEBUG</logLevel>
  </log>
</config>